[submodule "pylibs/pexpect"]
	path = pylibs/pexpect
	url = https://github.com/pexpect/pexpect.git
[submodule "pylibs/ptyprocess"]
	path = pylibs/ptyprocess
	url = https://github.com/pexpect/ptyprocess.git
[submodule "pylibs/pyotp"]
	path = pylibs/pyotp
	url = https://github.com/pyauth/pyotp.git
